In [ ]:
https://www.dataquest.io/wp-content/uploads/2019/07/gdp.csv

In [1]:
import pandas as pd
df = pd.read_csv('https://www.dataquest.io/wp-content/uploads/2019/07/gdp.csv', index_col=0)

for val in df:
    print(val)

Capital
GDP ($US Trillion)
Population

In [7]:
dic = {'AAPL': 187.31,
        'MSFT': 124.06,
        'FB': 183.50}

In [8]:
#df1 = pd.DataFrame()
dic1 = {}
for i in range (1):
#    df1[i] = df1[i].append.df
    dic1[i] = dic
    
#df1
dic1

{0: {'AAPL': 187.31, 'MSFT': 124.06, 'FB': 183.5}}

In [12]:
df1 = {}
#dic1 = {}
for i in range (1):
    df1[i] = pd.DataFrame()
    df1[i] = df1[i].append(df)
#    dic1[i] = dic
    
df1
#dic1

{0:                          Capital  GDP ($US Trillion)  Population
 Country
 Ireland                   Dublin              0.3337      4784000
 United Kingdom            London              2.6220     66040000
 United States   Washington, D.C.             19.3900    327200000
 China                    Beijing             12.2400   1386000000
 India                  New Delhi              2.5970   1339000000
 Germany                   Berlin              3.6770     82790000}

In [16]:
x = "Xi'an"
x

"Xi'an"